Box

temperature    77.000000
pressure        0.296077

vdw direct
spme precision  1.0E-20

steps              25000
timestep        0.000500 ps
multiple    1 steps

cutoff      17.000000  angstrom
rvdw        17.000000  angstrom

job time     7200000000 seconds
close time   100000 seconds

finish

